<h3>Semesters List</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.name %></td>
        <td><%= semester.start_date %></td>
        <td><%= semester.end_date %></td>
        <td><%= link_to 'Edit', edit_semester_path(semester), class: "btn btn-small" %></td>
        <td><%= link_to 'Delete', semester, method: :delete,
          data: {confirm: 'WARNING: DELETING SEMESTER WILL DELETE ALL ASSOCIATED COURSES AND ENROLLMENTS! Proceed?'}, class: "btn btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semester', new_semester_path, class: "btn" %>
