<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @semester.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @semester.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @semester.end_date %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester), class: 'btn btn-small' %>
<%= link_to 'Destroy', @semester, method: :delete,
	data: { confirm: 'Are you sure you want to delete this semester and all of the associated courses and enrollments?' }, class: 'btn btn-small' %>
