<h4>Enrolled Courses for <%= current_semester.name %></h4>
<p>
	<strong>Credit Hours for Semester:</strong>
	<%= @total_credit_hours %>
</p>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Long Title</th>
      <th>Description</th>
      <th>Credit Hours</th>
      <th>Grade</th>
			<th></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.course.name %></td>
        <td><%= enrollment.course.long_title %></td>
        <td><%= enrollment.course.description %></td>
        <td><%= enrollment.course.credit_hours %></td>
				<td><%= enrollment.letter_grade %></td>
        <td><%= link_to 'Unenroll', semester_enrollment_path(current_semester, enrollment), method: :delete, 
					data: {confirm: 'Are you sure you want to unenroll?'}, class: "btn btn-small" %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for :enrollments, action: 'index', method: :get, class: "dropdown" do |f| %>
	<h4>Select a Different Semester to View Enrollments For: <%= f.collection_select :semester_id, all_semesters, :id, :name %>
		<%= f.submit 'Go', class: "btn"	%></h4>
<% end %>

<br>
<%= link_to 'New Enrollment', new_semester_enrollment_path, class: "btn" %>
