<h3>Courses for <%= "#{current_semester.name} (#{current_semester.courses.size})" %></h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Long title</th>
      <th>Description</th>
      <th>Credit hours</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.long_title %></td>
        <td><%= course.description %></td>
        <td><%= course.credit_hours %></td>
        <td><%= link_to 'Show', course, class: "btn btn-small" %></td>
        <td><%= link_to 'Edit', edit_course_path(course), class: "btn btn-small" %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path, class: "btn" %>
