<h4>Courses for <%= "#{current_semester.name}" %><%= " (#{current_semester.courses.size} Total)" if current_user.admin? %></h4>

<%= form_for :semester, controller: :courses, action: 'index', method: :get, class: "dropdown" do |f| %>
	<h5>Select a Different Semester to View Courses For: <%= f.collection_select :id, all_semesters, :id, :name %>
		<%= f.submit 'Go', class: "btn"	%></h5>
<% end %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Long Title</th>
      <th>Description</th>
      <th>Credit Hours</th>
			<% if current_user.admin? or current_user.teacher? %>
      <th>Enrolled Students</th>
      <th>Average Grade</th>
			<% elsif current_user.student? %>
			<th>Grade</th>
			<th></th>
			<% else %>
      <th></th>
			<% end %>
			<th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.long_title %></td>
        <td><%= course.description %></td>
        <td><%= course.credit_hours %></td>
				<% if current_user.admin? or current_user.teacher? %>
				<td><%= course.enrollment_count %></td>
				<td><%= course.average_letter_grade %></td>
				<% elsif current_user.student? %>
				<td><%= course.student_grade %></td>
				<% end %>
        <td><%= link_to 'Show', semester_course_path(current_semester, course), class: "btn btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_semester_course_path, class: "btn" %>
