<% if current_user.admin? %>
<h4>Courses for <%= "#{current_semester.name} (#{current_semester.courses.size} Total)"%></h4>

<% elsif current_user.teacher? %>
<h4>Courses Taught for <%= "#{current_semester.name}" %></h4>

<% elsif current_user.student? %>
<h4>Courses Available for Enrollment in <%= "#{current_semester.name} Semester" %></h4>
<% end %>

<%= render 'semesters/select', current_controller: 'courses' %>

<% if @courses.empty? and current_user.student? %>
<%= flash.now[:info] = 'Enrollment is closed for past semesters.' %>
<% else %>
	<table class="table table-bordered table-striped table-hover">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Long Title</th>
	      <th>Description</th>
	      <th>Credit Hours</th>

				<% if current_user.admin? %>
	      <th>Enrolled Students</th>
	      <th>Average Grade</th>
				<th></th>
			
				<% elsif current_user.teacher? %>
				<th>Enrolled Students</th>
	      <th>Average Grade</th>
				<th></th>
				<th></th>
			
				<% elsif current_user.student? %>
				<th></th>
				<% end %>
	    </tr>
	  </thead>

	  <tbody>
	    <% @courses.each do |course| %>
				<tr>
	        <td><%= course.name %></td>
	        <td><%= course.long_title %></td>
	        <td><%= course.description %></td>
	        <td><%= course.credit_hours %></td>

					<% if current_user.admin? %>
					<td><%= course.enrollment_count %></td>
					<td><%= course.average_letter_grade %></td>
					<td><%= link_to 'Show', semester_course_path(current_semester, course), class: "btn btn-small" %></td>
					
					<% elsif current_user.teacher? %>
					<td><%= course.enrollment_count %></td>
					<td><%= course.average_letter_grade %></td>
					<td><%= link_to 'Show', semester_course_path(current_semester, course), class: "btn btn-small" %></td>
					
					<% elsif current_user.student? %>
					<td><%= link_to 'Enroll', semester_enrollments_path(semester_id: current_semester.id, enrollment: {course_id: course.id, student_id: current_user.id}),
						method: :create, class: "btn btn-small" %></td>
						
					<% end %>

				
					<% if current_user.teacher? %>
					<td><%= link_to 'Delete', semester_course_path(current_semester, course), method: :delete,
						data: {confirm: 'Are you sure you want to delete this course and all its associated enrollments?'}, class: "btn btn-small" %></td>
					<% end %>
					
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>
<br>

<%= link_to 'Create a New Course', new_semester_course_path, class: "btn" if current_user.teacher? %>
